<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Introduction Vue.js</title>
  </head>
  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image" alt="" />
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <span v-if="onSale">On Sale!</span>

          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <ul>
            <li v-for="size in sizes">{{ size }}</li>
          </ul>

          <div v-for="variant in variants" :key="variant.variantId">
            <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
          </div>

          <button v-on:click="addToCart">Add to Cart</button>
          <button v-on:click="deleteToCart">Delete to Cart</button>

          <div class="cart">
            <p>Cart({{ cart }})</p>
          </div>

        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
